.about {
    width: calc(100% - 140px);
    margin: 0 auto;
}

.about__diploma {
    display: flex;
    gap: 40px;
    margin: 0 0 110px 0;
}

.about__article {
    width: 550px;
}

.about__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    margin: 0 0 26px 0;
}

.about__description {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}

.about__weeks-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 0 0 110px 0;
}

.about__weeks {
    display: inline;
    text-align: center;
    vertical-align: bottom;
    background-color: #F2F2F2;
    font-size: 14px;
    line-height: 18px;
    padding: 9px 0;
    margin: 0 0 14px 0;
}

.about__weeks_color_black {
    background-color: #000000;
    color: #FFFFFF;
}

.about__weeks-caption {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #A0A0A0;
}