.login__label {
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    padding-bottom: 10px;
}

.login__input {
    margin-bottom: 20px;
    padding: 15px;
    border: none;
    background: #F9F9F9;
    font-size: 13px;
    line-height: 16px;
    border-radius: 8px;
}

.login__input_error {
    color: #FF4062;
}

.login__input:focus {
    outline: none;
}

.login__error {
    transform: translateY(-10px);
    font-size: 10px;
    line-height: 12px;
    color: #FF4062;
}